body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

/* Sidebar Styles */

.sidebar {
    display: flex;
    align-items: baseline;
    float: left;
    width: 150px;
    background-color: black;
    height: 100vh;

}

.sidebar img {
    width: 12px;
    height: auto;
    
}

.sidebar h2 {
    color: #ccc;
    font-size: 12px;
}
 
#sidebar-content {
    margin-left: 0;
    margin-right: auto;
    
}

.sidebar a {
    display: block;
    padding: 12px;
    color: #ccc;
}

.sidebar a:hover {
    color: white;
}

.sidebar a:active {
   color: #4CAF50;
}

.sidebar button {
    margin-top: 20px;
    font-size: 12px;
    background-color: black;
    border-color: white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.sidebar nav {
    color: white;
}



/* Hero Image Styles */

.hero-image {
    display: flex;
    flex-grow: inherit;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./src/images/posty.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    position: relative;
    margin-top: 20px;
    padding: 5px;
    border-radius: 25px;
    background-color: black;
    color: white;
}