/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Sidebar Styles */

.sidebar {
    display: flex;
    float: left;
    width: 150px;
    background-color: black;
    height: 100vh;
    color: rgba(204, 204, 204, 0.726);
}

.sidebar img {
    width: 12px;
    height: auto;
}

.sidebar h2 {
    font-size: 12px;
    margin: 20%;
}
 
#sidebar-content {
    margin: 0% 10%;
}

.sidebar li {
    margin: 15%;
}

.sidebar p {
    margin: 50% 10%;
    font-size: 8px;
}

.sidebar a {
    display: block;
    color: rgba(204, 204, 204, 0.726);
}

.sidebar a:hover {
    color: white;
}

.sidebar a:active {
   color: #4CAF50;
}

.sidebar button {
    font-size: 16px;
    background-color: black;
    border-color: white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10%;
}

.sidebar button:hover {
    color: rgba(204, 204, 204, 0.726);
    border-color: rgba(204, 204, 204, 0.726);
}

.sidebar button:active {
    color: #4CAF50;
    border-color: #4CAF50; 
}

#myspace-logo {
    width: 40px;
    height: auto;
    padding: 0% 20%;
}

#sign-in {
    color: white;
    font-weight: 200;
    margin-top: 20%;
    margin-left: 10%;
}

#sign-in:hover {
    color: rgba(204, 204, 204, 0.726);
}

#sign-in:active {
    color: #4CAF50; 
}


/* Hero Image Styles */

.hero-image {
    display: flex;
    flex-grow: inherit;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./src/images/posty.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    position: relative;
    margin-top: 20px;
    padding: 5px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.hero-text button:hover {
    color: rgba(204, 204, 204, 0.726);
    border-color: rgba(204, 204, 204, 0.726);
}

.hero-text button:active {
    color: yellow;
    border-color: yellow;
}



/* Midsection Nav Styles */

.midsection-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}